body {
    margin: 0;
    background-color: #293135;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container>h3 {
    color: white;
    font-family: "Lexend Exa", sans-serif;
    margin: 4vh 4vw 4vh 7vw;
    font-size: 2rem;
}

.header-container>h3>span {
    color: #00FFF0;
}

.header-container nav {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 2vh 5vw 0 0;
}

.header-container>nav>a {
    text-decoration: none;
    color: white;
    margin: 0 1vw;
    font-family: "Manjari", sans-serif;
    transition: 1s;
    padding-bottom: 4vh;
    font-weight: 550;
}

.header-container>nav>a:hover {
    cursor: pointer;
    color: #00FFF0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>.image {

    display: flex;
    justify-content: center;
    align-items: center;

}

main>.image>img {
    width: 40vw;
    height: 35vw;

}

.social-media {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social-media>a>i {
    font-size: 4rem;
    color: #00FFF0;
    transition: 1s;
    border-radius: 12px;
    width: 90%;
}

.social-media>a {
    margin-right: 60%;
    margin-top: 4vh;
    text-align: center;


    transition: 1s;
    border-radius: 12px;
}

.social-media>a:hover i {

    background-color: #00FFF0;
    color: #293135;
    text-decoration: none;
    box-shadow: 1px 1px 20px #00FFF0;
}

.social-media>a:hover {
    transform: scale(1.4);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header-container h3 {
        font-size: 1.8rem;
    }

    main>.image>img {
        width: 50vw;
        max-width: 300px;
    }

    .social-media {
        width: 80%;
    }

    .social-media>a>i {
        font-size: 3rem;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .header-container h3 {
    font-size: 1.6rem;
  }
  .header-container nav{
    position: relative;
  }
  .header-container nav a{
    position: absolute;
    top: 5vh;
    right: 15vw;
  }
  main > .image > img {
    width: 60vw;
    max-width: 250px;
  }
  .social-media > a > i {
    font-size: 2.5rem;
  }}

@media (min-width: 376px) and (max-width:425px) {
    .header-container h3 {
    font-size: 1.4rem;
    margin: 3vh 2vw;
  }
  .header-container nav{
    position: relative;
  }
  .header-container nav a{
    position: absolute;
    top: 5vh;
    right: 15vw;
  }
  .header-container nav{
    justify-content: flex-end;
    padding-right: 5vw;
  }
  main > .image > img {
    height: 70vw;
    width: 70vw;
    max-width: 200px;
  }
  .social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-media > a{
    margin: 4vh 0 0 0;
  }
  .social-media > a > i {
    font-size: 2.5rem;
  }}

@media (min-width: 321px) and (max-width:375px) {
    .social-media{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .social-media > a{
        margin: 4vh 0 0 0;
      }
      .header-container nav{
        position: relative;
      }
      .header-container nav a{
        position: absolute;
        top: 5vh;
        right: 15vw;
      }
      .header-container h3 {
        font-size: 1.2rem;
        margin: 3vh 2vw;
      }
      main > .image > img {
        height: 80vw;
        width: 80vw;
        max-width: 180px;
      }
      .social-media > a > i {
        font-size: 2rem;
      }
      .social-media {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
      }
}

@media (max-width: 320px) {
    .social-media{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .social-media > a{
        margin: 4vh 0 0 0;
      }
      .header-container nav{
        position: relative;
      }
      .header-container nav a{
        position: absolute;
        top: 5vh;
        right: 15vw;
      }
      .header-container h3 {
        font-size: 1.2rem;
        margin: 3vh 2vw;
      }
      main > .image > img {
        height: 90vw;
        width: 80vw;
        max-width: 180px;
      }
      .social-media > a > i {
        font-size: 2rem;
      }
      .social-media {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
      }
}