body {
  margin: 0;
  background-color: #293135;
  height: 100vh;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-container > h3 {
  color: white;
  font-family: "Lexend Exa", sans-serif;
  margin: 4vh 4vw 4vh 7vw;
  font-size: 2rem;
}
.header-container > h3 > span {
  color: #00fff0;
}
.header-container nav {
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 2vh 0 0 0;
}
.header-container > nav > a {
  text-decoration: none;
  color: white;
  margin: 0 1vw;
  font-family: "Manjari", sans-serif;
  transition: 1s;
  padding-bottom: 4vh;
  font-weight: 550;
}
.header-container > nav > a:hover {
  cursor: pointer;
  color: #00fff0;
}
.header-container > nav > .active {
  color: #00fff0;
}
.burger {
  display: none;
  color: white;
  height: 8vw;
  width: 8vw;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0;
}
.menu-panel {
  background-color: #293135;
  color: white;
  height: 100%;
  width: 75vw;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.4s ease;
}

.menu-panel ul {
  list-style: none;
  padding: 0;
  margin-top: 10vw;
}

.menu-panel ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
.menu-panel ul li:hover {
  background-color: #424b50;
  color: #00fff0;
}

.menu-panel ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Manjari", sans-serif;
}
.menu-panel ul li a:hover {
  color: #00fff0;
}

.close-btn {
  background-color: transparent;
  margin: 3vw;
  border: none;
  width: 8vw;
  height: 8vw;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
main {
  width: 100%;
  height: 80vh;
}
.title {
  color: #00fff0;
  text-align: center;
  font-family: "Lexend Exa", sans-serif;
  font-size: 2rem;
}
.carousel-caption {
  color: rgb(
    255,
    254,
    254
  ); /* Ensures captions are visible on any background */
  background: linear-gradient(
    #00fff0,
    rgba(0, 0, 0, 0.11)
  ); /* Adds a semi-transparent background */
  padding: 1rem; /* Adds padding for better readability */
  bottom: 20px; /* Adjusts position to the bottom */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  transition: 1s ease;
}

.carousel-indicators{
  position: absolute;
  top: 110%;
}
.carousel-caption h5{
  font-size: 6vw;
}
.custom-carousal {
  width: 70vw;
  height: 40vw;
  margin: 0 auto;
  
}
.carousel-inner{
  border-radius: 12px;
}
.custom-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item:hover .carousel-caption{
  top: 0;
  
}
.carousel-control-prev-icon{
  position: absolute;
  left: -40%;
}
.carousel-control-next-icon{
  position: absolute;
  right: -40%;
}
/* .container{
    width: 49vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

.card-container{
    height: 20vw;
    width: 50vw;
    overflow: hidden;
    display: flex;
    
    
}
.arrows {
    padding-right: 2.5vw;
    display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  }
  

.arrows > i{
    color: #00FFF0;
    font-size: 2rem;
    
    cursor: pointer;
   
}


#foward-arrow{
    
    margin-right: 2vw;
}
#back-arrow{
    
    margin-left: 2vw;
}
.card-slider {
    display: flex;
    width: fit-content;
    padding-left:  5vw;
    
    
}
.card{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 30vw;
    width: 50vw;
    margin-right: 5.1vw;
    
}
 .card-image{
    height: auto;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.11), #00FFF0);
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    transition: height 0.5s;
}
.layer h5{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "Lexend Exa", sans-serif;
}
.card:hover{
    box-shadow: 1px 1px 20px #00FFF0;
}
.card:hover .card-image{
    transform: scale(1.1);
}
.card:hover .layer{
    height: 100%;
} */
@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 426px) and (max-width: 768px) {
  nav a {
    display: none;
  }
  nav .burger {
    display: block;
  }
  .header-container nav {
    justify-content: end;
    padding-right: 5vw;
  }
  .menu-panel.active {
    right: 0;
  }
  
}
@media (min-width: 376px) and (max-width: 425px) {
  nav a {
    display: none;
  }
  nav .burger {
    display: block;
  }
  .header-container nav {
    justify-content: end;
    padding-right: 5vw;
  }
  .menu-panel.active {
    right: 0;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  nav a {
    display: none;
  }

  nav .burger {
    display: block;
  }
  .header-container nav {
    justify-content: end;
    padding-right: 5vw;
  }
  .menu-panel.active {
    right: 0;
  }
  .carousel-caption{
    font-size: 4vw;
  }
}
@media (max-width: 320px) {
  nav a {
    display: none;
  }

  nav .burger {
    display: block;
  }
  .header-container nav {
    justify-content: end;
    padding-right: 5vw;
  }
  .menu-panel.active {
    right: 0;
  }
  .carousel-caption{
    font-size: 3vw;
  }
}
