body{
    margin: 0;
    background-color: #293135;
    height: 100vh;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header-container > h3{
    color: white;
    font-family: "Lexend Exa", sans-serif;
    margin: 4vh 4vw 4vh 7vw;
    font-size: 2rem;
}
.header-container > h3 > span{
    color: #00FFF0;
}
.header-container nav {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 2vh 0 0 0;
}
.header-container > nav > a {
    text-decoration: none;
    color: white;
    margin: 0 1vw;
    font-family: "Manjari", sans-serif;
    transition: 1s;
    padding-bottom: 4vh;
    font-weight: 550;
}
.header-container > nav > a:hover{
    cursor: pointer;
    color: #00FFF0;
}
.header-container > nav > .active{
    color: #00FFF0;
}
.burger {
    display: none;
    color: white;
    height: 8vw;
    width: 8vw;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0;
  }
  .menu-panel {
    background-color: #293135;
    color: white;
    height: 100%;
    width: 75vw;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.4s ease;
  }

  .menu-panel ul {
    list-style: none;
    padding: 0;
    margin-top: 10vw;
    
  }

  .menu-panel ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  .menu-panel ul li:hover{
    background-color: #424b50;
    color: #00FFF0;
  }

  .menu-panel ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Manjari", sans-serif;
  }
  .menu-panel ul li a:hover{
    color: #00FFF0;
  }

  .close-btn {
    background-color: transparent;
    margin: 3vw;
    border: none;
    width: 8vw;
    height: 8vw;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
main {
    height: 85%;
    font-family: "Lexend Exa", sans-serif;
    color: white;
    display: flex;
   
    justify-content: space-between;
}
main > .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}
main > .image > img{
    height: 60%;
    width: 60%;
}
main > .detail{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > .detail > ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 95%;
    width: 100%;
    padding: 5vw 0;
    list-style: none;
}
main > .detail > ul > li > ul{
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2vw;
}
main > .detail > ul > li > ul> li{
    list-style: none;
   height: 8vw;
    width: 8vw;
    background-color: #3B464D;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    transition: 1s;
}
main > .detail > ul > li > ul> li> i{
    font-size: 4rem;
    margin: 20% 0;
    transition: 1s;
    
}
main > .detail > ul > li > ul> li:hover{
    background-color: #00FFF0;
    box-shadow: 1px 1px 20px #00FFF0;
    transform: scale(1.4);
    
}
main > .detail > ul > li > ul> li:hover i{
    transform: scale(1.4);
}
main > .detail > ul > li > ul> li> img{
    height: 4rem;
    width: 4rem;
    transition: 1s;
}
main > .detail > ul > li > ul> li:hover img{
    transform: scale(1.4);
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header-container > h3 {
    font-size: 1.8rem;
    margin: 3vh 3vw;
}
.header-container nav a {
    font-size: 0.9rem;
}
.burger {
    height: 6vw;
    width: 6vw;
}
main > .image > img {
    height: 50%;
    width: 50%;
}
main > .detail > ul {
    grid-template-columns: repeat(2, 1fr);
    padding: 4vw 0;
}
main > .detail > ul > li > ul > li {
    height: 10vw;
    width: 10vw;
    margin-bottom: 25px;
}
main > .detail > ul > li > ul > li > i,
main > .detail > ul > li > ul > li > img {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
}

}
  
  
@media (min-width: 426px) and (max-width: 768px) {
  nav a {
    display: none;
}
nav .burger {
    display: block;
    height: 8vw;
    width: 8vw;
}
.header-container > h3 {
    font-size: 1.6rem;
    margin: 3vh 3vw;
}
.menu-panel.active {
    right: 0;
}
main > .image > img {
    height: 32vw;
    width: 32vw;
}
main{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main > .detail > ul {
    grid-template-columns: 1fr;
    padding: 3vw 0;
}
main > .detail > ul > li > ul > li {
    height: 10vw;
    width: 10vw;
    margin-bottom: 15px;
}
main > .detail > ul > li > ul > li > i,
main > .detail > ul > li > ul > li > img {
    font-size: 2.5rem;
    height: 3rem;
    width: 3rem;
}
.header-container nav{
  justify-content: end;
  padding-right: 5vw;
}
    

}
@media (min-width: 376px) and (max-width:425px) {
  nav a {
    display: none;
}
nav .burger {
    display: block;
    height: 9vw;
    width: 9vw;
}
.header-container > h3 {
    font-size: 1.5rem;
    margin: 3vh 3vw;
}
.menu-panel.active {
    right: 0;
}
main{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main > .detail > ul {
  grid-template-columns: 1fr;
  padding: 3vw 0;
}
main > .image > img {
    height: 30vw;
    width: 30vw;
}
main > .detail > ul {
    padding: 3vw 0;
}
main > .detail > ul > li > ul > li {
    height: 12vw;
    width: 12vw;
    margin-bottom: 25px;
}
main > .detail > ul > li > ul > li > i,
main > .detail > ul > li > ul > li > img {
    font-size: 2.3rem;
    height: 2.5rem;
    width: 2.5rem;
}
.header-container nav{
  justify-content: end;
  padding-right: 5vw;
}
}
@media (min-width: 321px) and (max-width:375px) {
  nav a {
    display: none;
}
nav .burger {
    display: block;
    height: 10vw;
    width: 10vw;
}
.header-container > h3 {
    font-size: 1.4rem;
    margin: 2vh 3vw;
}
.menu-panel.active {
    right: 0;
}
main{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main > .image > img {
    height: 30vw;
    width: 30vw;
}
main > .detail > ul {
    padding: 2vw 0;
}
main > .detail > ul > li > ul > li {
    height: 12vw;
    width: 12vw;
    margin-bottom: 20px;
}
main > .detail > ul > li > ul > li > i,
main > .detail > ul > li > ul > li > img {
    font-size: 2rem;
    height: 2.3rem;
    width: 2.3rem;
}
main > .detail > ul {
  grid-template-columns: 1fr;
  padding: 3vw 0;
}
.header-container nav{
  justify-content: end;
  padding-right: 5vw;
}
}
@media (max-width:320px) {
  nav a {
    display: none;
}
nav .burger {
    display: block;
    height: 12vw;
    width: 12vw;
}
.header-container > h3 {
    font-size: 1.2rem;
    margin: 2vh 3vw;
}
.menu-panel.active {
    right: 0;
}
main{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main > .image > img {
    height: 30vw;
    width: 30vw;
}
main > .detail > ul {
    padding: 2vw 0;
}
main > .detail > ul > li > ul > li {
    height: 14vw;
    width: 14vw;
    margin-bottom: 15px;
}
main > .detail > ul > li > ul > li > i,
main > .detail > ul > li > ul > li > img {
    font-size: 1.8rem;
    height: 2rem;
    width: 2rem;
}
  .header-container nav{
    justify-content: end;
    padding-right: 5vw;
  }
  main > .detail > ul {
    grid-template-columns: 1fr;
    padding: 3vw 0;
  }
  
}